.full-width {
    width: 95%
}

.description {
    width: 70%;
    margin-right: 6%;
    margin-top: 0.5em;
}

.dialog-content {
    text-align: center;
}

.slider-placeholder {
    color: #757575;
    position: absolute;
}

.divider {
    font-size: 1.5em
}

.edit {
    margin-right: 0.5em;
}

.edit :hover{
    color: #df9b08;
    cursor: pointer;
}

.delete-icon {
    margin-left: 0.3em;
    cursor: pointer;
}

.delete :hover{
    color: #e95158;
}

::ng-deep .mat-dialog-container {
    max-width: none;
    margin: 0 5%;
    width: 90%;
}